.signUpBack {
    background-image: url("../../images/SignUp.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* special white container  */
.specialWhiteContainer {
    border-radius: 20px;
    background-color: #edf1f0;
    min-height: 350px;
    padding: 25px 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 625px;
    opacity: .98;
}
/* h2{
    color: #001B3E;
} */

/* Forms form */
#signinForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;   
}

input.inputForm {
    font-size: 1.2em;
    min-height: 55px;
    max-width: 355px;
    border-radius: 24px;
    margin: 20px 0px;
}

#signupBtn {
    background-color: #001B3E;
    border-color: #001B3E;
    border-color: #001B3E;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 20px;
    text-align: center;
}
#signupBtn:hover {
    background-color: #001b3ea2;
    box-shadow: 1px 2px 1px#001b3ea2;
}


