.bground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

Form > * {
  margin: 0rem 0rem 1rem 1rem;  
}

.field {
  font-size: 1rem;  
  border-radius: 15px;  
  border: inset rgba(255, 53, 125, 1);
}

.question {
  height: 300%;
  width: 90%;     
}

.other {
  width: 80%;    
  margin-top: 4rem;
}

/* Image */
.contactUs {
  height: 18rem;
  margin: 1rem 10rem;  
}

.contactFrame {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button */
button.Btn {
  background-color: rgba(255, 53, 125, 1);
  border-color: #72e385;
  border-radius: 24px;
  padding: 10px 30px;
  width: 50%;
}
button.Btn:hover {
  background-color: #7290e3a7;
  box-shadow: 1px 2px 1px#7291E3;
}
