.cardContainer {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.statusCode {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  display: inline-block;
}

.statusGreen {
  background-color: green;
}

.statusGrey {
  background-color: grey;
}

.layer {
  background-color: rgba(143, 143, 143, 0.315);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 5px;
}
