#mainContainer {
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #001b3e;
}

#contentContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 15px;
}

#navBar {
  background-color: #001b3e;
}

#navBar .navbar-brand,
#navBar .navbar-text {
  color: white;
}

#navBar #menuContainer {
  color: white;
}

#navBar #menuContainer .dropdown-menu a {
  color: black;
  text-decoration: none;
}

#navBar #menuContainer img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

#navBar #menuContainer button {
  background-color: white;
}

#navBar #menuContainer .navbar-brand img {
  margin: 10px 10px 10px 15px;
}

#navBar #menu,
#navBar #menu a {
  color: grey;
  text-decoration: none;
  padding: 15px;
}

#navBar #menu a:hover {
  color: white;
}

#navBar #menu a.active {
  color: white;
}
